*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img55.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    height: 300px;
    width: 200px;
}

.container{
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;

}/*
.container:hover{
    animation-play-state: paused;
}*/

@keyframes animate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 2px liner-gradient(transparent, transparent, rgba(4, 4, 4, 0.267));
}

.container span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px double rgb(247, 13, 13);
}

img:hover{
    transform: translateY(-3px);
}

h1{
    position: absolute;
    align-items: center;
    left: 42%;
    right: 50%;
    bottom: 13%;
    font-size: 80px;
    font-style: italic;
    height: 20px;
    width: 40px;
    color: #fb0606;
    text-shadow: 2px 2px 0px #07cef1, 
                 4px 4px 0px #fff700;

}
